:root {
  --blue-color--: #0075ff;
  --blue-alt-color: #0d69d5;
  --bg-bg-100: #f1f5f9;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
  --green-color--: #22c55e;
  --orang-color--: #f44336;
  --grey-color--: #888;
}
.color-b{
  color: black;
}
.bg-none{
  background: none;
}
.bg-blue-link{
  background-color: rgba(0, 0, 255, 0.226);

}
.bg-blue-tw{
  background-color: #00d9ff;
}
.bg-blue{
  background-color: rgba(32, 32, 255, 0.637);
}
.bg-red{
  background-color: rgb(255, 0, 0);
}
.bg-eee{
background-color: #eee;
}
/* start box */
.d-flex {
  display: flex;
}
.d-grid{
  display: grid;
}
.align-center {
  align-items: center;
}
.txt-end{
  text-align: end;
}
.flot-r{
  float: right;
}
.w-full{
  width: 100%;
}
.width-20px{
  width: 20px;
}
.width-35px{
  width: 35px;
}
.width-50px{
  width: 50px;
}
.width-133px{
  width: 133px;
}
.height-40{
height: 40px;
}
.height-35{
height: 35px;
}
/* end box */

.p-0 {
  padding: 0;
}
.p-10 {
  padding: 10px;
}
.p-15{
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-25{
  margin-top: 25px;
}
.p-20 {
  padding: 20px;
}
.m-0{
  margin: 0;
}

.mb-20{
  margin-bottom: 20px;
}
.m-20{
  margin: 20px;
}
.mr-20{
  margin-right: 20px;
}
.mr-35{
  margin-right: 35px;

}
.mr-78{
  margin-right: 78px;

}
.ml-20{
  margin-left: 20px;
}
.gap-20{
gap: 20px;
}
.rad-6 {
  border-radius: 6px;
}
.rad-10{
  border-radius: 10px;

}
.border-1{
  border: 1px solid #ccc;
}
.border-none{
  border: none;
}

/* end paddign + margin */
.o-l {
  outline-style: auto;
  outline-color:rgba(128, 128, 128, 0.11);
}
.bg-white {
  background-color: white;
}
.c-black {
  color: black;
}

/* end color */

.p-relative {
  position: relative;
}
/* end position */

.text-c {
  text-align: center;
}
.fs-14 {
  font-size: 14px;
}
.fa-lg{
font-size: large;
}
@media (max-width:767px) {
  .text-c-mobile{
    text-align: center;
  }
}
@media (max-width:767px) {
  .text-l-mobi{
    text-align: left;
  }
  .mr-125-mop{
    margin-right: 125px;
  }
}

/* end font */

.list-none {
  list-style: none;
}
/* end ul style */

.between-flex{
display: flex;
align-items: center;
justify-content: space-between;
}
.direction-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-relative-top-1r{
  position: relative;
  top: 1rem;
}
@media (max-width:767px) {
  .text-c-mobile{
    display: block;
  }
}
/* end components */
.outline{
  outline: none;
}


